header {
    width: 100%;
    height: 100px;
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
}

.logo {
    margin: 17px 0 0 153px;
}

.menu_button {
    width: 40px;
    height: 40px;
    margin: 30px 135px 0 0;
    background-color: #fff;
    border-radius: 5px;
    position: relative;
}

.burger_menu {
    width: 13px;
    height: 14px;
    color: var(--main-color);
    text-align: center;
    position: absolute;
    top: 13px;
    left: 14px;
}

@media only screen and (max-width: 1450px) {
    .logo {
        margin: 17px 0 0 46px;
    }

    .menu_button {
        margin: 30px 30px 0 0;
    }
}

@media only screen and (max-width: 1026px) {
    .menu_button {
        margin-right: 40px;
    }
}

@media only screen and (max-width: 642px) {
  

    header {
        height: 80px;
    }

    .logo {
        margin: 7px 25px;
    }

    .menu_button {
        margin: 20px;
    }
}