.intro {
    position: relative;
}

.intro-wrapper {
    width: 100%;
    height: 668px;
    background-image: url(../images/bg-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-sizing: border-box;
    padding: 107px 277px 65px;
    z-index: -2;
}

.intro-wrapper hr {
    display: none;
}

.title {
    color: #FFFFFF;
    font-family: "Roboto Condensed";
    font-weight: 400;
    font-size: 96px;
    text-align: center;
    letter-spacing: 2px;
    margin: 0;

}

.text {
    width: 100%;
    color: #FFFFFF;
    font-family: "Roboto Condensed";
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
    text-align: center;
    margin-top: 18px;
    z-index: 3;
}

.readMore {
    width: 200px;
    height: 50px;
    background-color: var(--main-color);
    color: #FFFFFF;
    border-radius: 5px;
    margin: 0 39%;
    text-transform: uppercase;
    font-family: "Roboto Condensed";
    border: none;
    outline: none;
}

.intro_content {
    z-index: 4;
}

.rect {
    width: 100%;
    height: 668px;
    background-color: #212121;
    opacity: 56%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.intro .owl-dots {
    position: absolute;
    top: 80%;
    left: 45%;
}

.intro .owl-theme .owl-dots .owl-dot span {
    /* position: absolute; */

    border: 1px solid var(--main-color);
    background-color: var(--main-color);
}

.intro .owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #476E4D;
}

.owl-theme .owl-dots .owl-dot span {
    margin-top: 56px;
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background-color: white;
}

.intro .owl-theme .owl-nav.disabled+.owl-dots {
    margin: -14px auto 0 35px;
    
}

.arrows {
    position: absolute;
    top: 264px;
    left: calc(100% - 70px);
    line-height: 70px;
    line-height: 70px;
    text-align: center;
    font-weight: 600;
}

.ar_blue {
    width: 70px;
    height: 70px;
    background-color: var(--main-color);
    color: #FFFFFF;
}

.ar_white {
    width: 70px;
    height: 70px;
    background-color: #F9F6E5;
    color: #929292;
}


@media only screen and (max-width: 1450px) {
    .intro-wrapper {
        padding: 101px 217px 80px;
        height: 618px;
    }

    .title {
        font-size: 84px;
    }

    .oval {
        background-color: var(--main-color);
    }

    .not_white {
        border-color: #476E4D;
        background-color: #21212100;
    }

    .text {
        font-size: 18px;
    }

    .readMore {
        margin: 0 32%;
    }

    .intro .owl-theme .owl-nav.disabled+.owl-dots {
        margin: -8px auto 0 9px;
        
    }
}

@media only screen and (max-width: 1026px) {
    .intro-wrapper {
        height: 465px;
        padding: 87px;
    }

    .title {
        font-size: 56px;
        letter-spacing: 0;
    }

    .text {
        margin: 25px 0 32px;
        line-height: 20px;
    }

    .ar_white,
    .ar_blue {
        width: 56px;
        height: 56px;
    }

    .arrows {
        top: 191px;
        left: calc(100% - 56px);
        line-height: 56px;
    }

    .readMore {
        font-size: 18px;
    }

    .ovals {
        margin-bottom: 46px;
    }

    .rect {
        height: 100%;
    }

    .intro .owl-theme .owl-nav.disabled+.owl-dots {
        margin: -20px auto 0 -4px;
        
    }
}

@media only screen and (max-width: 770px) {
    .intro-wrapper {
        height: 386px;
        padding: 50px 139px;
    }

    .readMore {
        margin: 0 22%;
    }

    .text {
        display: none;
    }

    .intro-wrapper hr {
        display: block;
        border: none;
        background-color: #4A4A4A;
        margin: 7px auto 30px;
    }

    .arrows {
        top: 144px;
    }

    .intro .owl-theme .owl-nav.disabled+.owl-dots {
        margin: -33px auto 0 -4px;
        
    }
}

@media only screen and (max-width: 642px) {
    .arrows {
        display: none;
    }

    .title {
        font-size: 28px;
    }

    .intro-wrapper {
        height: 193px;
        padding: 36px 0;
    }

    .readMore {
        display: none;
    }

    .intro hr {
        width: 61.05px;
        margin: 0 auto 35px;
    }

    .ovals {
        margin: 0 auto 20px;
    }

    .intro .owl-theme .owl-nav.disabled+.owl-dots {
        margin: -53px auto 0 -22px;
        
    }

}